/* BASIC HTML STYLES */
html, body {
	margin: 0 ; padding: 0 ;
	font: normal normal normal 0.9em/1.0em Arial, Helvetica, sans-serif ;
	color: #555555 ;
}
	a {
		color: #275270 ;
		font-weight: bold ;
		text-decoration: none ;
	}
		a:hover {
			text-decoration: underline ;
		}
	h1 {
		margin: 0 ; padding: 0 ;
		font-size: 1.1em ;
		font-family: Georgia, "Times New Roman", Times, serif ;
	}
	.lightText {
		color: rgb(125,125,125) ;
	}

	table {
		tr {
			td, th {
				padding: 5px ;
				border-top: 1px solid rgb(240,240,240) ;
				text-wrap: none;
				line-height: 1.1em ;
			}
			&:hover td {
				background-color: rgb(240,240,240) ;
			}
			&.approved td {
				background-color: rgb(217,255,205);
			}
				&.approved:hover td {
					background-color: rgb(204,243,192);
				} 
			&th {
				background-color: rgb(240,240,240) ;
				color: #777777 ;
			}
		}
	}
		
			

	/* MANAGE NAVIGATION STYLES */			
	nav {
		position: relative ;
		width: 100% ;
		background-color: rgb(240,240,240) ;
	}
		nav #nav-contents {
			padding: 10px ;
			min-width: 450px ;
			overflow: auto ;
		}
		nav #pica-logo {
			float: left ;
		}
		nav ul {
			float: left ;
			margin: 10px 0 0 20px ;
			padding: 0px ;
		}
			nav ul li {
				float: left ;
				list-style: none ;
				margin-right: 20px ;
			}
				nav ul li a {
					color: #56A1D5 ;
					text-decoration: none ;
					font-weight: bold ;
					font-size: 14px ;
				}
					nav ul li a:hover, nav ul li a.active {
						text-decoration: underline ;
					}
	
	/* PRIMARY CONTENT STYLE */		
	#content {
		padding: 20px ;
	}	
	
		/* MANAGE FORM FIELD STYLES */
		input, textarea {
			width: 93% ;
			transition: all .3s linear;
			-o-transition: all .3s linear;
			-moz-transition: all .3s linear;
			-webkit-transition: all .3s linear;
			border: 1px solid #3A7095 ;
			border-radius: 3px ;
			padding: 5px ;
			background-color: rgb(250,250,250) ;
			font-family: Arial, Helvetica, sans-serif ;
			font-size: 12px ;
		}
			input.submit {
				cursor: pointer ;
				margin-right: 15px ;
			}
				input.submit#previewbutton {
					float: left ;
					width: 225px ;
				}
				input.submit#submitbutton {
					float: right ;
					width: 140px ;
				}
			input:hover, textarea:hover {
				background-color: #fffde4 ;
			}
			input:focus, textarea:focus {
				background-color: #fcf8ba ;
				border: 1px solid #274c66 ;
			}
			#authorize-button {
				cursor: pointer ;;
			}
				.active-field, .active-field:hover {
					background-color: #fcf8ba ;
					border: 1px solid #274c66 ;
				}
			textarea.feedback {
				width: 450px ;
				height: 90px ;
			}
			#feedback-submit {
				cursor: pointer ;
			}
			.formFieldError {
				border: 1px solid #fe4141 ;
				background-color: #fbb2b2 ;
			}
		
		/* MANAGE FORM FIELD FILE UPLOAD FIELDS */
		#file_inputs {
			padding-bottom: 25px ;
		}
			.add_file, .remove_file {
				font-weight: bold ;
				font-size: 15px ;
				background-color: #ffffff ;
				border-radius: 3px ;
				padding: 1px 5px 1px 5px ;
				margin: 0 -10px 0 25px ;
				box-shadow: 0px 0px 2px rgb(210,210,210) ;
				transition: all .3s linear;
				-o-transition: all .3s linear;
				-moz-transition: all .3s linear;
				-webkit-transition: all .3s linear;
				float: right ;
			}
				.add_file:hover, .remove_file:hover {
					box-shadow: 0px 0px 6px rgb(200,200,200) ;
				}
				.add_file a {
					color: #47c668 ;
				}
				.remove_file a {
					color: #a33442 ;
					font-size: 18px ;
					padding: 1px 1px 1px 1px ;
					
				}
					.add_file a:hover, .remove_file a:hover {
						text-decoration: none ;
					}
					.file_link {
						cursor: pointer ;
					}
					
		/* PRIMARY MESSAGE OUTPUT STYLE - Used display errors or successes */
		.output {
			display: block ;
			background-color: rgb(220,220,220) ;
			padding: 5px 5px 5px 10px ;
			font-style: italic ;
			margin: 10px 0 0 0 ;
		}