

.title_holder .title_subtitle_holder_inner h1{
    font-size:44px;
}
@media only screen and (min-width: 1000px) {
		.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner
		{
			padding-top:0px;
		}
	}

div.wpcf7-response-output.wpcf7-mail-sent-ok{
   background-color:#57a1d4;
}