@charset "UTF-8";
/* CSS Document */
	Body {
		margin: 0px ;
		padding: 0px ;
		width: 100% ;
		font-family: Arial, Helvetica, sans-serif ;
		color: #275270 ;
		font-size: 14px ;
	}
	a {
		color: #275270 ;
		font-weight: bold ;
		text-decoration: none ;
	}
		a:hover {
			text-decoration: underline ;
		}
	H1 {
		font-size: 18px ;
		font-family: Georgia, "Times New Roman", Times, serif ;
	}
	
	A Img {
		border: 0px ;
	}
		#Content {
			display: block ;
			margin: 50px auto 0 auto ;
			width: 500px ;
			/*background-color: rgb(240,240,240) ;
			border: 1px solid rgb(200,200,200) ;*/
			padding: 15px ;
		}
			#Logo {
				display: block ;
				margin-left: -12px ;
				/*margin: 15px auto 0 auto ;*/
			}
			.lightText {
				color: rgb(125,125,125) ;
				font-size: 14px ;
			}
			.output {
				display: block ;
				background-color: rgb(220,220,220) ;
				padding: 5px 5px 5px 10px ;
				font-style: italic ;
				margin: 10px 0 0 0 ;
			}
	
	