.footer{
	&.contact{
		background-color:white;
		.container{
			height:91%;
			.row{
				&.top{
					margin-top:30px;
					*{
						text-align: center;
						display:block;
						font-size:2.5em;
					}
					h3{
						margin-bottom:0;
						@media (max-width: 480px) {
							font-size: 34px;
						}
					}
					.cursive{
						@extend .type.grafolita;
						color:$pica-blue;
						line-height:1.25em;
					}
				}
				&.middle{
					padding-top:90px;
					@media (max-width: 1024px) and (min-width: 1000px) {
						padding-top: 70px;
					}

					.six {
						@media (max-width: 550px) {
							margin-top: 30px;
						}
						.message{
							@media (max-width: 550px) {
								display: none;
							}
							&.error{
								color:red;
							}
							&.success{
								color:green;
							}
						}
					}
					form{
						input[type=text], input[type=email], textarea{
							background-color:$light-grey;
							@extend .type.din.regular;
							@include border-radius(2px);

							@include input-placeholder{
								color:black;

							}
						}
						input{
							width:100%;

							&[name=user_answer]{
								width:30px;
							}
						}
						textarea{
							width:100%;
							height:150px;
							resize:none;
						}
						input[type=submit]{
							width: auto;
							font-size:1.3em;
							@extend .type.din.condensed.bold;
							background-color:$pica-blue;
							color:white;
							letter-spacing: 1px;
							border:none;
							float:right;
							@include transition-property(all);
							@include transition-duration(.1s);
							@media (max-width: 500px) {
								width: 100px;
								padding: 0 !important;
							}

							&:hover{
								background-color: darken($pica-blue, 20%);
							}
						}
					}
					.information{
						@extend .type.din.regular;
						line-height:22px;

						a{
							color:black;
							text-decoration: none;

							&:hover{
								text-decoration: underline;
							}
						}
					}
					.instagram{
						#sbi_images{
							padding-left:0px !important;
							padding-right:0px !important;
							padding-top:0px !important;

							.sbi_item{
								&:nth-child(1){
									.sbi_photo_wrap{
										padding-right:5px;
									}
								}
								&:nth-child(2){
									.sbi_photo_wrap{
										padding-left:5px;
									}
								}
								&:nth-child(3){
									width:100% !important;
									.sbi_photo_wrap{
										margin-top:5px;
									}
								}
							}
						}
						@media (max-width: 750px) {
							display:none;
						}
					}
				}
			}

		}
		.bottom-footer{
			background-color:black;
			height:100px;
			color:white;
			position:relative;
			padding-top:30px;
			@extend .type.din.condensed.bold;
			bottom: 0;
			@media (max-width: 750px) {
				height: 150px;
			}

			span, a {
				color: white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}

			.container{
				padding-top:0;
				margin: 0;
				width: 100% !important;
				max-width: 100% !important;
				.row {
					width: 100%;
					@media (max-width: 750px) {
						text-align: center;
					}
				}
			}

			.copyright{
				font-size:1.375em;
				margin-top:5px;
				position:absolute;
				left: 5%;
				cursor:default;
				@media (max-width: 750px) {
					display: none;
				}
			}

			.small_copyright {
				display: none;
				@media (max-width: 750px) {
					display: block;
					font-size: 14px;
				}
			}

			.social-links{
				margin: 0;
				position: absolute;
				right: 5%;
				width: 168px;

				.icon{
					float: left;
					margin-left:7px;
					@include opacity(.6);
					@include transition-property(all);
					@include transition-duration(.1s);
					a{
						width:100%;
						height:100%;
						display:block;
					}

					&:hover{
						@include opacity(1.0);
					}

					&.facebook{
						height:35px;
						width: 35px;
						@include svg-bg-with-fallback(facebook-white);
						background-size:35px, 35px;
					}

					&.twitter{
						height:35px;
						width: 35px;
						@include svg-bg-with-fallback(twitter-white);
						background-size:35px, 35px;
					}

					&.instagram{
						height:35px;
						width: 35px;
						@include svg-bg-with-fallback(instagram-white);
						background-size:35px, 35px;
					}

					&.linkedin{
						height:35px;
						width: 35px;
						@include svg-bg-with-fallback(linkedin-white);
						background-size:35px, 35px;
					}
				}

				@media (max-width: 750px) {
					top: 50px;
					left: 50%;
					@include translateX(-50%);
					right: 0;
					//left: 50%;
					//transform: translateX(-50%);
				}
			}
		}
	}
	@media (max-width: 550px) {
		height:860px;

		> .container{
			height:740px !important;
			padding-top:0;
			.middle{
				padding-top:30px !important;
			}
		}
	}
}