
.full{
	.container{
		padding-top:64px;
		height:100%;
		//display:table;
	}

	&.section{
		&.portfolio-item{
			overflow:hidden;
			.container{
				padding-top:100px;
				//padding-bottom:15px;
				height:100%;

				.row{
					height:100%;
					
					.columns{
						height:100%;

						&.left{
							float:left;
							margin-left:0;
							margin-right:4%;
							position:relative;
							img{
								position:absolute;
								right:0;
								height:100%;
								width:auto;
								overflow-y:hidden;
							}
						}

						&.right{
							float:right;
							margin-right:4%;
							margin-left:0;
							&:first-child{
								margin-right:0;
							}
						}

						&.seven{
							img{
								
							}
						}

						&.four{
							padding-top:50%;
							margin-top:-100px;

							p{
								margin-top:0;
								margin-bottom:3px;
								color:white;
							}

							h3{
								color:white;
								margin-bottom:0;
								line-height:1.1em;
								font-size:2.875em;
							}
						}
					}
				}
			}
			@media (max-width: 480px){
				&.portfolio-item{
					height:auto;
					.container{
						margin-bottom:-15px;
						padding-top:0;
					}
					.columns{
						&.seven{
							margin-top:40px;
							span{
								img{
									width:100%;
									height:auto;
								}
							}

							&.left{
								float:none;
								span{
									img{
										position:relative;
										width:100%;
									}
								}
							}
						}
					}
				}
			}
			@media (max-width: 750px){

			}
			@media (max-width: 900px){

			}
			position:relative;
		}

		&.clients{
			padding-top:12.5%;
			padding-bottom:12.5%;
			.container{
				padding-top:0;
				.row{
					height:33.3%;
					.three{
						height:100%;
						position:relative;
						text-align: center;
						img{
							position:absolute;
							top:0;
							right:0;
							bottom:0;
							left:0;
							margin:auto;

							@media (max-width: 768px) {
								max-height: 50%;
								width: auto;
								max-width: 100%;
								height: auto;
							}

						}
					}
				}
			}
			@media (max-width: 480px) {
				display:none;
				height:1900px;
				.row{
					height:150px !important;
				}
			}
		}

		&.profiles{
			position:relative;
			min-height:100%;

			@media (max-width: 900px) {
				height:1540px;
				//overflow:auto;

				.three{
					&.last{width:66.67% !important;}
				}
			}
			@media (max-width: 750px) {
				height:1990px;
				.three{
					&.last{width:50% !important;}
				}
			}
			@media (max-width: 480px) {
				height:3150px;
				width:100%;
				.section-head{
					display:none;
				}
				.section-body{
					top:0 !important;
				}
				.three{
					&.first{height:250px !important;}
					&.last{height:200px !important;width:100% !important;}
				}
			}
			.section-head{
				height:190px;
				.container{
					padding-top:110px;
					h1{
						color:white;
						text-align: center;
					}
				}
			}
			.section-body{
				position:absolute;
				top:190px;
				bottom:0;
				width:100%;
				background-color:black;
				.three {
					padding: 0;
					margin: 0;
					color: white;
					width: 25%;
					height: 50%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					@media (max-width: 900px) {
						width:33.33%;
						height: 33.33%;
					}
					@media (max-width: 750px) {
						width:50%;
						height:450px;
					}
					@media (max-width: 480px) {
						width:100%;
					}
					&.user, &.first, &.last{
						@include opacity(0);
					}

					&.first, &.last{
						text-align: center;
						
						h1{
							line-height:1em;
							margin:0;
							padding:0;
						}
					}

					&.first{
						.vert-center{
							max-width:150px;
							margin:0 auto;
						}
						.r-arrow{
							width:100% ;
							margin:0 auto;
							height:12px;
							@media (max-width: 480px) {
								display:none;
							}
						}
					}

					&.last{
						position:relative;
						z-index:999;
						a {
							color: white;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}

						@media (max-width:480px) {
							padding-left:20px;
							padding-right:20px;
						}
					}

					&.user{
						position:relative;
						.people-overlay{
							position:absolute;
							height:0;
							width:100%;
							bottom:0;
							//height:100%;
							background-color:$pica-blue;
							@include opacity(.65);
							display:none;
							@media (max-width: 750px) {
								height:100%;
							}
						}
						.person-info{
							position:absolute;
							display:none;
							width:100%;
							//height:0;
							bottom:-100px;
							text-align: center;
							@media (max-width: 750px) {
								bottom:5%;
							}
							.name{
								@extend .type.din.condensed.bold;
								font-size:1.3em;
								line-height: 1em;
							}

							.position{
								@extend .type.din.regular;
								margin-bottom:10px;
							}

							.social-networks{
								display:inline-block;
								overflow:auto;
								margin:0 auto;
								.icon{
									float:left;
									margin-right:8px;

									&:last-child{
										margin-right:0;
									}
								}
							}
						}
					}
				}
			}
		}
		
	}
	.down-arrow{
		position:absolute;
		bottom:20px;  
		right:50%;
		margin-right:-21px;

		@media (max-width: 480px) {
			display:none;
		}
	}

	&.terms-conditions {
		color: white;
		text-align: left;
		//min-height: 100vh !important;
	}

	&.mission-statement{
		color:white;
		font-size:40px;
		text-transform: uppercase;
		line-height: 43px;
		.container{

		}
		.statement {
			position:relative;
			width:auto;
			display:table;
			margin:0 auto;
			width:90%;
			@extend .type.din.condensed.bold; 
			.blue{
				color:$pica-blue;
			}

			@media (max-width: 480px) {
				left:0px;
				top:50%;
				right:30px;
				font-size:1.75em;
				line-height:1.1em;
				@include translateY(0%);
			}
		}
		@media (max-width: 900px) {
			font-size:2em;
		}
		@media (max-width: 750px) {
			font-size:1.5em;
			line-height:1.3em;
		}
		@media (max-width: 480px) {
			height:auto;
			.statement{
				position:static;
				transform:none;
				//left:30px;
				//top:50%;
				right:30px;
				font-size:.8em;
				line-height:1.1em;
				
				//@include translateY(-50%);
				
				br {display:none}
				padding-bottom:30px;
			}
		}
	}

	&.services{
		.container{
			padding-bottom:100px;
			.row{
				height:50%;
				.columns{
					padding-top:45px;
					height:100%;
					padding:45px 15px 45px 15px;
					a{
						color:inherit;
						text-decoration:inherit;
						display:block;
						height:100%;
						width: 100%;
						h2{
							text-align:center;
						}
						p{
							font-size:14px;
							text-align:center;
							line-height:21px;
						}
					}

					&:hover{
						background-color:$pica-blue;
						color:white;
					}
				}
				:last-child{
					padding-bottom:40px;
				}
			}
		}
	}

	
}