header {
	background-color:rgba(0,0,0, .35);
	height:64px;
	margin-bottom:-60px ;
	z-index:1000;
	width:100%;
	position:fixed;
	top:0;

	.container {
		padding-top:13px;
	}

	.logo {
		margin-top:5px;
		a{
			cursor: pointer;
		}
	}
	.menu {
		float:right;
		nav {
			//float:left;
			overflow:auto;
			ul {overflow:auto;
				li, a {
					@extend .type.din.condensed.bold;
					text-transform: uppercase;
					font-size:23.99px;
					color:white;
					float:left;
					list-style:none;
					margin-left:20px;
					text-decoration: none;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		.pica.icon {
			float:right;
		}
	}
	@media (max-width: 480px) {
		background-color:$dark-grey;
		z-index:1000;
		.logo{
			float:left;
		}
		.three.columns{
			width:25%;
		}
		.nine.columns{
		 	width:75%;
		}
		.menu{
			float:right;
			margin-top:6px;
			nav{
				ul{
					li, a {
						font-size:1em;
						margin-left:7px;
						&#clients {
							display: none;
						}
					}
				}
			}	
		}
	}
}