html{
	body{
		overflow-x: hidden;
		font-size:16px;
		h1,h2,h3,h4,h5,h6{
			@extend .type.din.condensed.bold;
			text-transform: uppercase;
		}
		h1{
			font-size:2em;
		}
		h2{
			font-size:1.5em;
		}
		h3{
			font-size:1.17em;
		}
		h4{
			font-size:1.12em;
		}
		h5{
			font-size:.83em;
		}
		h6{
			font-size:.75em;
		}
		.vert-center{
			@include vertical-align;
		}

		.r-arrow{
			@include svg-bg-with-fallback(r-arrow-black);
			height:50px;
			width:200px;
			&.white{
				@include svg-bg-with-fallback(r-arrow-white);
			}
		}
		p{
			font-size:1em;
			@extend .type.din.regular;
			a{
				color:black;
				text-decoration: none;
				&:hover{
					color: $pica-blue;
					text-decoration: none;
				}
			}
		}

		strong{
			@extend .type.din.regular.bold;
		}

		.button{
			@include border-radius(7px);
			@extend .type.din.condensed.bold;
			@extend h4;
			border:none;
			padding-top:1px;

			&.blue{
				background-color:$pica-blue;
				color:white;
			}

			&.white{
				background-color:white;
				color:black;
			}

			&.with-stroke{
				background-color:white;
				color:$dark-grey;
				border:.5px solid $dark-grey;
			}
		}

		.contact_subheading {
			color: $pica-blue;
			font-size: 1.5em !important;
			@extend .type.din.regular.bold;
		}
	}
}

.full{
	height:100vh;
	position:relative;
	&.dark-grey{
		background-color:$dark-grey;
	}

	&.light-grey{
		background-color:$light-grey;
	}

	&.pica-blue{
		background-color:$pica-blue;
	}
	&.single-page{
		height:auto;
	}
}

.hero {
	@include opacity(0);
	visibility: hidden;
	height:100vh !important;
	background-image: url('/wp-content/themes/pica/images/HeroBackground.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;

    #Stage{
    	background-color:rgba(255,255,255, 0) !important;
    }

	&.loaded{
		visibility: visible;
		@include opacity(1);
	}

	.logo-long{
		float:right;
		position:absolute;
		right:50px;
		bottom:50px;
	}
	#mobile_banner {
		font-size: 6.5vh;
		color: white;
	}
	#brand {
		margin: 0 auto;
		color: white;
		font-size: 8vh;
		span {
			position: relative;
			display: inline-block;
		}
	}
	#mobile_animation {
		position: relative;
		display: block;
		@extend .type.din.condensed.bold;
		top: 45%;
		text-align: center;
		line-height: 10vh;
	}
}

@media (min-width: 480px) {
	.hero{
		//background-color:goldenrod;
		//overflow:hidden;
		#brand {
			font-size: 9.5vh;
		}
		#mobile_animation {
			line-height: 14vh;
		}
	}
}

@media (min-width: 769px) {
	.hero {
		#brand {
			font-size: 14vh;
		}
	}
}

@media (min-width: 900px) {
	.hero {
		#brand {
			font-size: 14vh;
		}
	}
}

@media (min-width: 1024px) {
	.hero {
		#brand {
			font-size: 16vh;
		}
	}
}

.img_wrapper{
    position: relative;
    padding-top: 75%;
    overflow: hidden;
}

.img_wrapper.loaded img{
	//visibility: visible;
	opacity:1;
}
 
.img_wrapper img{
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden; 
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.down-arrow{
	height:30px;
	width: 35px;
	background: url(../images/down-arrow-white.svg);
	background-size:35px, 30px;
	cursor:pointer;

	&.black{
		background: url(../images/down-arrow-black.svg);
	}
}


//social bar
.icon{
	a{
		display:block;
		height:100%;
		width:100%;
	}
	&.facebook{
		height:35px;
		width: 35px;
		@include svg-bg-with-fallback(facebook-white);
		background-size:35px, 35px;
		
		&.white{
			@include svg-bg-with-fallback(facebook-white);
		}

		&.black{
			@include svg-bg-with-fallback(facebook-black);
		}
	}

	&.twitter{
		height:35px;
		width: 35px;
		@include svg-bg-with-fallback(twitter-white);
		background-size:35px, 35px;
		
		&.white{
			@include svg-bg-with-fallback(twitter-white);
		}

		&.black{
			@include svg-bg-with-fallback(twitter-black);
		}
	}

	&.instagram{
		height:35px;
		width: 35px;
		@include svg-bg-with-fallback(instagram-white);
		background-size:35px, 35px;
		
		&.white{
			@include svg-bg-with-fallback(instagram-white);
		}

		&.black{
			@include svg-bg-with-fallback(instagram-black);
		}
	}

	&.linkedin{
		height:35px;
		width: 35px;
		@include svg-bg-with-fallback(linkedin-white);
		background-size:35px, 35px;
		
		&.white{
			@include svg-bg-with-fallback(linkedin-white);
		}

		&.black{
			@include svg-bg-with-fallback(linkedin-black);
		}
	}

	&.mail{
		height:35px;
		width: 35px;
		@include svg-bg-with-fallback(mail-white);
		background-size:35px, 35px;
		
		&.white{
			@include svg-bg-with-fallback(mail-white);
		}

		&.black{
			@include svg-bg-with-fallback(mail-black);
		}
	}

	&.logo-long{
		height:50px;
		width:50px;
		@include svg-bg-with-fallback(pica-icon);
	}
}