.underlay{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,.9);
	z-index:1001;
	top:0;
	display:none;
	//used for animate
	@include opacity(0);
}
.portfolio-display{
	position:absolute;
	display:none;
	//used for animate
	@include opacity(0);
	top:0px;
	width:100%;
	max-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index:1002;
	overflow-y:scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	margin-top:0;
	bottom: 0;
	right: -10%;
	padding-right: 20%;

	@media (max-width:480px) {
		max-width:100%;
		width:100%;
		left:0;
		margin-top: 0;
		bottom: 0;
		padding: 0;
		right: 0;
	}	

	.close{
		height:35px;
		width: 35px;
		position:absolute;
		top:15px;
		right:21%;
		z-index: 1005;
		@include border-radius(17.5px);
		@include svg-bg-with-fallback(closeX);
		cursor:pointer;
		@media (max-width: 480px) {
			right: 15px;
		}
	}

	.container{
		width:100% !important;
		max-width:100% !important;
		margin:0;
		height:auto ;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position:relative;

		&.full_banner {
			@include vertical-align;
		}

		> .inner{
			display:inline-block;
			position:absolute;
			left:50%;
			top:50%;
			@include translate(-50%, -50%);
			@extend p;

			&.video {
				h2 {
					padding-top: 20px;
				}
			}

			.wp-video{
				margin-bottom:20px;
				height:337px;
				.wp-video-shortcode {
					&.mejs-container {

					border: 20px solid white;
					}
					
					height: 100% !important;
					width: 100% !important;
				}
				.mejs-container{
					width:100% !important;
					height:337px !important;

					.mejs-inner{
						.mejs-overlay-play{
							height:100% !important;
						}
					}
				}
			}
		}

		&.test-wrapper{
			background-color:white;
			padding-top:50px;
			padding-bottom:50px;
			.testimonial{
				width:50%;
				margin:0 auto;
				text-align: center;
				.content{
					@extend .type.din.regular.bold;
					font-size:1.3em;
					margin-bottom:10px;
				}
				.name{
					@extend .type.din.condensed.bold;
					text-transform: uppercase;
					font-size:1.1em;
				}
				.creds{
					@extend .type.din.regular;
					font-size:.85em;
				}
			}
		}
		&.prev_next {
			background-color:white;
			padding-top:20px;
			padding-bottom:20px;
			text-align: center;
			.button{
				&.blue {
					text-transform: uppercase;
					@include transition-property(all);
	 				@include transition-duration(.1s);
	 				color: white;
					&:hover {
						@include transition-property(all);
	 					@include transition-duration(.1s);
	 					background-color: darken($pica-blue, 20%);
					}
				}
			}
		}
	}
	.col{
		height:100%;
		overflow:hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color:white;
		@extend p;
		position:static !important;
		display:inline-block;

		h1,h2,h3,h4,h5,h6{
			color:inherit;
			@extend .type.din.condensed.bold;
		}
		
		&.half{
			width: 50%;
			.inner{
				margin:0 25% 0 25%;
				@extend .vert-center;

				img{
					display:block;
					margin:0 auto;
					width: 100%;
					max-height: 500px;
				}
			}

			&.poster {
				.inner {
					margin: 0 15% 0 15%;
				}

				img {
					width: auto;
				}
			}

			&.large_logo {
				.inner {
					margin: 0 20% 0 20% !important;
				}
			}
		}
		&.one-third {
			width:33.33%;
			.inner{
				margin:0 15% 0 15%;
				@extend .vert-center;

				img {
					display:block;
					margin: 0 auto;
					width: 100%;
					height: 95%;
					max-height: 100%;
				}
			}
		}
		&.two-third{
			width:66.67%;
		}
		&.left{
			height:100%;
			float:left;
			
		}
		&.right{
			height:100%;
			float:right;
		}
	}
	@media (max-width: 1200px) {
		.col{
			&.half{
				&.poster {
					.inner {
						margin: 0 !important;
					}
				}
				.inner {
					line-height:16px;
				}
				&.top_text {
					.inner {
						margin: 0 20% 0 20%;
					}
				}
			}
		}
	}
	@media (max-width:1024px){
		.container{
			&.magazine_open {
				.container {
					img {
						max-width: 100%;
					}
				}
			}
			.half{
				.inner{
					>img{
						max-width:100%;
					}
				}
				&.top_text {
					.inner {
						margin: 0 15% 0 15%;
					}
				}
			}
		}
	}
	@media (max-width: 900px) {
		.container{
			&:first-child{
				.col{
					height:175px !important;
					.inner{
						//display:none;
					}

					&.right{
						.inner{
							//margin:0;
							transform:none;
							top:0;
						}
					}
				}
			}

			&.ticket {
				width: 100%;
				height: auto;
				> img {
					width: 100%;
				}
			}
			
			&.magazine_open {
				.container {
					img {
						width: 100%;
					}
				}
			}
		}
		.col{
			width:100% !important; 
			position:static !important;
			display:inline-block;
			height:50%;
			overflow:visible;
			&.half{
				.inner{
					line-height:20px;
					margin: 0 20% 0 20%;
					img {
						height: auto;
						width: 100%;
					}
				}
				&.poster {
					.inner {
						img {
							width: auto !important;
						}
					}
				}
			}
			&.one-third {
				&.short {
					h2 {

					}
				}
				.inner {
					margin: 50px 15% 50px 15%;
					img {
						height: auto;
						width: 100%;
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.container{
			&.magazine_open {
				height: 450px !important;
			}
			&.vert_align {
				@include vertical-align;
			}

			> img {
				width: 85%;
				height: auto;
				margin-top: 0px !important;
			}

			&.ticket {
				width: 100%;
				height: auto;
				> img {
					width: 100%;
				}
			}
			font-size:.85em;
			h3{
				font-size:1.4em;
			}
			> .inner{
				width: 100% !important;
				padding-left:5%;

				.wp-video{
					width:95% !important;
					height:auto !important;
					.wp-video-shortcode {
						width: 100%;
						height: auto;
					}

					.mejs-controls {
						display:none;
					}
				}
			}
		.col {
			&.half {
				&.top_text {
					&.right {
						.inner {
							top: 50px !important;
						}
					}
				}
				&.short {
					height: 350px !important;
					.inner {
						margin: 0 5% 0 5%;
						>h2, p {
							margin: 0 15% 0 15%;
						}
					}
				}
				&.medium {
					height: 500px !important;
					.inner {
						margin: 0 12% 0 12%;
					}
				}
				&.poster {
					height: 500px !important;
					.inner {
						margin: 0 5% 0 5%;
						img {
							width: auto !important;
						}
					}
				}
			}
			&.one-third {
				.inner {
					margin: 0;
					img {
						width: 100%;
						height: auto;
					}
					h2 {
						margin: 50px 15% 0 15%;
					}

					p {
						margin: 0 15% 0 15%;
					}

					span {
						margin: 0 15% 0 15%;
					}
				}
			}
		}
		}
	}
	@media (max-width: 480px) {
		.container{
			font-size:.75em;
			padding:0;
			.col {
				&.one-third {
					&.short {
						height: 250px !important;
						h2 {
							margin: 0 15% !important;
						}
					}
				}
				padding:0;
			}
			h3{
				font-size:1.5em;
			}
			> .half{
				> .inner{
					> img{
						max-width:100%;
						height:auto;
					}
				}
			}
			&:first-child{
				.col{
					height:220px !important;
					padding:0 15% 0 15%;
					margin:0 !important;
					.inner{
						//display:none;
						margin:0;
					}

					&.right{
						.inner{
							
							transform:none;
							top:0;
						}
					}
				}
			}
			.inner{
				.wp-video{
					video{
						width:100%;
					}
				}
			}
		}
	}
}