
//lazy load fade
/* Lazy Load XT 1.0.6 | MIT License */
.lazy-hidden{opacity:0}.lazy-loaded{-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-ms-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s;opacity:1}
/*

	This is the core includes for compass these should not have to changed or affected.

 */

/*
	IMAGE SPRITES
 */

//The layout sprite is created with a reference to $layout-sprite,
//so we can have more control with it, like calling the image with coordinates in a single declaration
//This is mostly so we can use sprite images in background() for laying backgrounds, like gradients + images
$assets-layout: vertical ;
$assets-sprite: sprite-map("assets/*.png") ;
//Core Compass
@import "compass";
@import "compass/css3";

//Import the core files for layouts.
@import "compass/layout";
@import "compass/css3/user-interface";
//Import the support for images
@import "compass/css3/images";

//change to the standard box sizing method.
*{@include box-sizing(border-box);}

/*
ASSETS
*/

//dimensions
@import "assets/dimensions";
//import the icons
@import "assets/icons";
//import the colors
@import 'assets/colors';
//import the fonts
@import 'assets/fonts';

//import the fullpage.js styles
@import 'assets/fullpage';


//import the base styles
@import 'html-base';
//import front page styles
@import 'front-page';

//import the portfolio item popups
@import 'portfolio-item-popups';

//Import the header styles.
@import 'header';

//import the footer styles (contact form and below)
@import 'footer';



//Sticky Footer
@include sticky-footer(120px);