/* BASIC HTML STYLES */
/* line 2, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  font: normal normal normal 0.9em/1em Arial, Helvetica, sans-serif;
  color: #555555;
}

/* line 7, ../sass/style.scss */
a {
  color: #275270;
  font-weight: bold;
  text-decoration: none;
}

/* line 12, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 15, ../sass/style.scss */
h1 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 20, ../sass/style.scss */
.lightText {
  color: #7d7d7d;
}

/* line 26, ../sass/style.scss */
table tr td, table tr th {
  padding: 5px;
  border-top: 1px solid #f0f0f0;
  text-wrap: none;
  line-height: 1.1em;
}
/* line 32, ../sass/style.scss */
table tr:hover td {
  background-color: #f0f0f0;
}
/* line 35, ../sass/style.scss */
table tr.approved td {
  background-color: #d9ffcd;
}
/* line 38, ../sass/style.scss */
table tr.approved:hover td {
  background-color: #ccf3c0;
}
/* line 41, ../sass/style.scss */
table tr th {
  background-color: #f0f0f0;
  color: #777777;
}

/* MANAGE NAVIGATION STYLES */
/* line 51, ../sass/style.scss */
nav {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
}

/* line 56, ../sass/style.scss */
nav #nav-contents {
  padding: 10px;
  min-width: 450px;
  overflow: auto;
}

/* line 61, ../sass/style.scss */
nav #pica-logo {
  float: left;
}

/* line 64, ../sass/style.scss */
nav ul {
  float: left;
  margin: 10px 0 0 20px;
  padding: 0px;
}

/* line 69, ../sass/style.scss */
nav ul li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

/* line 74, ../sass/style.scss */
nav ul li a {
  color: #56A1D5;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* line 80, ../sass/style.scss */
nav ul li a:hover, nav ul li a.active {
  text-decoration: underline;
}

/* PRIMARY CONTENT STYLE */
/* line 85, ../sass/style.scss */
#content {
  padding: 20px;
}

/* MANAGE FORM FIELD STYLES */
/* line 90, ../sass/style.scss */
input, textarea {
  width: 93%;
  transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  border: 1px solid #3A7095;
  border-radius: 3px;
  padding: 5px;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 103, ../sass/style.scss */
input.submit {
  cursor: pointer;
  margin-right: 15px;
}

/* line 107, ../sass/style.scss */
input.submit#previewbutton {
  float: left;
  width: 225px;
}

/* line 111, ../sass/style.scss */
input.submit#submitbutton {
  float: right;
  width: 140px;
}

/* line 115, ../sass/style.scss */
input:hover, textarea:hover {
  background-color: #fffde4;
}

/* line 118, ../sass/style.scss */
input:focus, textarea:focus {
  background-color: #fcf8ba;
  border: 1px solid #274c66;
}

/* line 122, ../sass/style.scss */
#authorize-button {
  cursor: pointer;
}

/* line 125, ../sass/style.scss */
.active-field, .active-field:hover {
  background-color: #fcf8ba;
  border: 1px solid #274c66;
}

/* line 129, ../sass/style.scss */
textarea.feedback {
  width: 450px;
  height: 90px;
}

/* line 133, ../sass/style.scss */
#feedback-submit {
  cursor: pointer;
}

/* line 136, ../sass/style.scss */
.formFieldError {
  border: 1px solid #fe4141;
  background-color: #fbb2b2;
}

/* MANAGE FORM FIELD FILE UPLOAD FIELDS */
/* line 142, ../sass/style.scss */
#file_inputs {
  padding-bottom: 25px;
}

/* line 145, ../sass/style.scss */
.add_file, .remove_file {
  font-weight: bold;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 1px 5px 1px 5px;
  margin: 0 -10px 0 25px;
  box-shadow: 0px 0px 2px #d2d2d2;
  transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  float: right;
}

/* line 159, ../sass/style.scss */
.add_file:hover, .remove_file:hover {
  box-shadow: 0px 0px 6px #c8c8c8;
}

/* line 162, ../sass/style.scss */
.add_file a {
  color: #47c668;
}

/* line 165, ../sass/style.scss */
.remove_file a {
  color: #a33442;
  font-size: 18px;
  padding: 1px 1px 1px 1px;
}

/* line 171, ../sass/style.scss */
.add_file a:hover, .remove_file a:hover {
  text-decoration: none;
}

/* line 174, ../sass/style.scss */
.file_link {
  cursor: pointer;
}

/* PRIMARY MESSAGE OUTPUT STYLE - Used display errors or successes */
/* line 179, ../sass/style.scss */
.output {
  display: block;
  background-color: #dcdcdc;
  padding: 5px 5px 5px 10px;
  font-style: italic;
  margin: 10px 0 0 0;
}
