@mixin vertical-align {
  position: relative;
  top: 50%;
  @include translateY(-50%);
}
@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}