@include font-face('DINRegular', font-files("DIN-webfont.ttf", "DIN-webfont.woff"), 'DIN-webfont.eot', normal, normal);
@include font-face('DINBold', font-files("DINBold-webfont.ttf", "DINBold-webfont.woff"), 'DINBold-webfont.eot', normal, normal);

.type{
	font-weight: normal;
    font-style: normal;
	-webkit-font-smoothing: subpixel-antialiased;
    
    @mixin font-smoothing($val: antialiased) {
      -webkit-font-smoothing: $val;
      -moz-font-smoothing: $val;
      -ms-font-smoothing: $val;
      -o-font-smoothing: $val;
    }
	&.din{
		&.condensed{
			&.bold{ 
				font-family: "din-condensed-web",sans-serif;
				letter-spacing:0px;
				letter-spacing: 1px;
			}
		}
		&.regular{
			font-family: "DINRegular";

			&.bold{
				font-family: "DINBold";
			}
		}
	}
	&.grafolita{
		font-family: "grafolita-script", sans-serif;
	}
}