@mixin svg-bg-with-fallback($file_name) {
  background-repeat: no-repeat;
  background-image: inline-image('#{$file_name}.svg', image/svg\+xml);
  html.no-svg & {
    background-image: image-url('#{$file_name}.png');
  }
}


.icon{
	&.pica{
		&.logo{
			&.large{
				width: 72px;
				height: 30px;
				background: url(../images/pica-logo.svg);
  				background-size: 72px, 30px;
			}
		}

		&.circle{
			&.large{
				width: 37px;
				height: 37px;
				background: url(../images/pica-icon.svg);
				background-size:37px, 37px;
			}
		}
	}
}